<template>
  <div class="container">
    <h2>Citizen</h2>
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown = 0"
      @dismiss-count-down="countDownChanged"
    >
      {{ mensaje.texto }}
    </b-alert>

    <form @submit.prevent="editCitizen(citizenEdit)" v-if="!add">
      <h3>Edit new citizen</h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="FirstName"
            v-model="citizenEdit.firstName"
          />
          <div class="invalid-feedback">Please provide a first name.</div>
        </div>
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="LastName"
            v-model="citizenEdit.lastName"
          />
          <div class="invalid-feedback">Please provide a last name.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <input
            class="form-control"
            type="date"
            value="2011-08-19"
            placeholder="DateOfBirth"
            v-model="citizenEdit.dateOfBirth"
          />
        </div>
        <div class="form-group col-md-2">
          <input
            type="number"
            class="form-control"
            placeholder="Age"
            v-model="citizenEdit.age"
          />
        </div>
        <div class="form-group col-md-2">
          <input
            type="text"
            class="form-control"
            id="dni"
            placeholder="DNI"
            v-model="citizenEdit.dni"
          />
        </div>
        <div class="form-group col-md-2">
          <input
            type="text"
            class="form-control"
            placeholder="Phone Number"
            v-model="citizenEdit.phoneNumber"
          />
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" v-model="citizenEdit.gender">
            <option disabled selected>Gender</option>
            <option>Female</option>
            <option>Male</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" v-model="citizenEdit.civilStatus">
            <option disabled selected>Civil Status</option>
            <option>Single</option>
            <option>Married</option>
            <option>Divorced</option>
            <option>Widower</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <select class="form-control" v-model="citizenEdit.education">
            <option disabled selected>Education</option>
            <option>Primary</option>
            <option>Secondary</option>
            <option>University</option>
          </select>
          <div class="invalid-feedback">Please provide a education.</div>
        </div>
        <div class="form-group col-md-10">
          <input
            class="form-control"
            placeholder="Address"
            v-model="citizenEdit.address"
          />
          <div class="invalid-feedback">Please provide a address.</div>
        </div>
      </div>
      <b-button class="btn-warning my-2 mx-2" type="submit"
        >Edit new citizen</b-button
      >
      <b-button class="my-2" type="submit" @click="add = true">Cancel</b-button>
    </form>

    <form @submit.prevent="addCitizen()" v-if="add">
      <h3>Add new citizen</h3>
      <div class="form-row">
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="FirstName"
            v-model="citizen.firstName"
          />
          <div class="invalid-feedback">Please provide a first name.</div>
        </div>
        <div class="form-group col-md-6">
          <input
            class="form-control"
            placeholder="LastName"
            v-model="citizen.lastName"
          />
          <div class="invalid-feedback">Please provide a last name.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <input
            class="form-control"
            type="date"
            value="2011-08-19"
            placeholder="DateOfBirth"
            v-model="citizen.dateOfBirth"
          />
        </div>
        <div class="form-group col-md-2">
          <input
            type="number"
            class="form-control"
            placeholder="Age"
            v-model="citizen.age"
          />
        </div>
        <div class="form-group col-md-2">
          <input
            type="text"
            class="form-control"
            id="dni"
            placeholder="DNI"
            v-model="citizen.dni"
          />
        </div>
        <div class="form-group col-md-2">
          <input
            type="text"
            class="form-control"
            placeholder="Phone Number"
            v-model="citizen.phoneNumber"
          />
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" v-model="citizen.gender">
            <option disabled selected>Gender</option>
            <option>Female</option>
            <option>Male</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <select class="form-control" v-model="citizen.civilStatus">
            <option disabled selected>Civil Status</option>
            <option>Single</option>
            <option>Married</option>
            <option>Divorced</option>
            <option>Widower</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <select class="form-control" v-model="citizen.education">
            <option disabled selected>Education</option>
            <option>Primary</option>
            <option>Secondary</option>
            <option>University</option>
          </select>
          <div class="invalid-feedback">Please provide a education.</div>
        </div>
        <div class="form-group col-md-10">
          <input
            class="form-control"
            placeholder="Address"
            v-model="citizen.address"
          />
          <div class="invalid-feedback">Please provide a address.</div>
        </div>
      </div>
      <b-button class="btn-success my-2 btn-block" type="submit"
        >Add new citizen</b-button
      >
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">FirstName</th>
          <th scope="col">LastName</th>
          <th scope="col">DateOfBirth</th>
          <th scope="col">Age</th>
          <th scope="col">DNI</th>
          <th scope="col">Address</th>
          <th scope="col">PhoneNumber</th>
          <th scope="col">Gender</th>
          <th scope="col">CivilStatus</th>
          <th scope="col">Education</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in citizens" :key="index">
          <th scope="row">{{ item.citizenId }}</th>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.dateOfBirth}}</td>
          <td>{{ item.age }}</td>
          <td>{{ item.dni }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.phoneNumber }}</td>
          <td>{{ item.gender }}</td>
          <td>{{ item.civilStatus }}</td>
          <td>{{ item.education }}</td>
          <td>
            <b-button
              @click="deleteCitizen(item.citizenId)"
              class="btn-danger btn-sm my-2"
              >Delete</b-button
            >
            <b-button
              @click="ActiveForm(item.citizenId)"
              class="btn-warning btn-sm"
              >Edit</b-button
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      citizens: [],
      mensaje: { color: "success", texto: "" },
      dismissSecs: 5,
      dismissCountDown: 0,
      citizen: {
        firstName: "",
        lastName: "",
        dateOfBirth: "",
        age: 0,
        dni: "",
        address: "",
        phoneNumber: "",
        gender: "",
        civilStatus: "",
        education: "",
      },
      add: true,
      citizenEdit: {},
    };
  },
  created() {
    this.getCitizen();
  },
  methods: {
    getCitizen() {
      this.axios
        .get("/Citizen")
        .then((res) => {
          this.citizens = res.data;
        })
        .catch((e) => {
          console.log(e.response);
        });
    },
    addCitizen() {
      this.axios
        .post("/Citizen/", this.citizen)
        .then((res) => {
          this.citizens.push(res.data);
          this.mensaje.color = "success";
          this.mensaje.texto = "The citizen saved sucess";
          this.showAlert();
        })
        .catch((e) => {
          this.mensaje.color = "danger";
          this.mensaje.texto = "The citizen have a error";
          this.showAlert();
        });
    },
    deleteCitizen(id) {
      this.axios
        .delete(`/Citizen/${id}`)
        .then((res) => {
          const index = this.citizens.findIndex(
            (item) => item.citizenId === res.data.citizenId
          );
          this.citizens.splice(index, 1);
          this.mensaje.color = "success";
          this.mensaje.texto = "The citizen deleted sucess";
          this.showAlert();
        })
        .catch((e) => {
          this.mensaje.color = "danger";
          this.mensaje.texto = "The citizen have a error";
          this.showAlert();
        });
    },
    ActiveForm(id) {
      this.add = false;
      this.axios
        .get(`/Citizen/${id}`)
        .then((res) => {
          this.citizenEdit = res.data;
        })
        .catch((e) => {
          console.log(e.response);
        });
    },
    editCitizen(item) {
      this.axios
        .put(`/Citizen/${item.citizenId}`, item)
        .then((res) => {
          let index = this.citizens.findIndex(
            (itemCitizen) =>
              itemCitizen.citizenId === this.citizenEdit.citizenId
          );
          this.citizens[index].firstName = this.citizenEdit.firstName;
          this.citizens[index].lastName = this.citizenEdit.lastName;
          this.citizens[index].dateOfBirth = this.citizenEdit.dateOfBirth;
          this.citizens[index].age = this.citizenEdit.age;
          this.citizens[index].phoneNumber = this.citizenEdit.phoneNumber;
          this.citizens[index].address = this.citizenEdit.address;
          this.citizens[index].dni = this.citizenEdit.dni;
          this.citizens[index].gender = this.citizenEdit.gender;
          this.citizens[index].education = this.citizenEdit.education;
          this.citizens[index].civilStatus = this.citizenEdit.civilStatus;

          this.citizenEdit = {};

          this.mensaje.texto = "Citize updated";
          this.mensaje.color = "success";
          this.showAlert();
        })
        .catch((e) => {
          console.log(e);
        });
      this.add = true;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>