<template>
  <div class="container">
    <h2>Task</h2>

    <form @submit.prevent="editTask(taskEdit)" v-if="!add">
      <h3>Eddit new task</h3>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input
            class="form-control"
            placeholder="name"
            v-model="taskEdit.name"
          />
          <div class="invalid-feedback">Please provide a first name.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <input
            class="form-control"
            type="date"
            value="2011-08-19"
            v-model="taskEdit.date"
          />
        </div>
        <div class="form-group col-md-3">
          <input
            type="number"
            class="form-control"
            placeholder="Status"
            v-model="taskEdit.statusTask"
          />
        </div>
        <div class="form-group col-md-3">
          <input
            type="number"
            class="form-control"
            placeholder="OwnerId"
            v-model="taskEdit.ownerId"
          />
        </div>
      </div>
      <b-button class="btn-warning my-2" type="submit"
        >Edit new citizen</b-button
      >
      <b-button class="my-2" type="submit" @click="add = true">Cancel</b-button>
    </form>

    <form @submit.prevent="addTask()" v-if="add">
      <h3>Ass new task</h3>
      <div class="form-row">
        <div class="form-group col-md-12">
          <input class="form-control" placeholder="name" v-model="task.name" />
          <div class="invalid-feedback">Please provide a first name.</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-3">
          <input
            class="form-control"
            type="date"
            value="2011-08-19"
            v-model="task.date"
          />
        </div>
        <div class="form-group col-md-3">
          <input
            type="number"
            class="form-control"
            placeholder="Status"
            v-model="task.statusTask"
          />
        </div>
        <div class="form-group col-md-3">
          <input
            type="number"
            class="form-control"
            placeholder="OwnerId"
            v-model="task.ownerId"
          />
        </div>
      </div>
      <b-button class="btn-success my-2 btn-block" type="submit"
        >Add new citizen</b-button
      >
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Date</th>
          <th scope="col">StatusTask</th>
          <th scope="col">Owner</th>
          <th scope="col">Options</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in tasks" :key="index">
          <th scope="row">{{ item.taskId }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.date }}</td>
          <td>{{ item.statusTask }}</td>
          <td>{{ item.ownerId }}</td>
          <td>
            <b-button
              @click="deleteTask(item.taskId)"
              class="btn-danger btn-sm my-2"
              >Delete</b-button
            >
            <b-button
              @click="ActiveForm(item.taskId)"
              class="btn-warning btn-sm"
              >Edit</b-button
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tasks: [],
      mensaje: { color: "success", texto: "" },
      dismissSecs: 5,
      dismissCountDown: 0,
      task: { name: "", date: "", statusTask: 0, ownerId: 0 },
      add: true,
      taskEdit: {},
    };
  },
  created() {
    this.getTask();
  },
  methods: {
    getTask() {
      this.axios
        .get("/Task")
        .then((res) => {
          this.tasks = res.data;
        })
        .catch((e) => {
          console.log(e.response);
        });
    },
    addTask() {
      this.axios
        .post("/Task/", this.task)
        .then((res) => {
          this.tasks.push(res.data);
          this.mensaje.color = "success";
          this.mensaje.texto = "The citizen saved sucess";
          this.showAlert();
        })
        .catch((e) => {
          this.mensaje.color = "danger";
          this.mensaje.texto = "The citizen have a error";
          this.showAlert();
        });
    },
    deleteTask(id) {
      this.axios
        .delete(`/Task/${id}`)
        .then((res) => {
          const index = this.tasks.findIndex(
            (item) => item.taskId === res.data.taskId
          );
          this.tasks.splice(index, 1);
          this.mensaje.color = "success";
          this.mensaje.texto = "The citizen deleted sucess";
          this.showAlert();
        })
        .catch((e) => {
          this.mensaje.color = "danger";
          this.mensaje.texto = "The citizen have a error";
          this.showAlert();
        });
    },
    ActiveForm(id) {
      this.add = false;
      this.axios
        .get(`/Task/${id}`)
        .then((res) => {
          this.taskEdit = res.data;
        })
        .catch((e) => {
          console.log(e.response);
        });
    },
    editTask(item) {
      this.axios
        .put(`/Task/${item.taskId}`, item)
        .then((res) => {
          let index = this.tasks.findIndex(
            (itemTask) =>
              itemTask.taskId === this.taskEdit.taskId
          );
          this.tasks[index].name = this.taskEdit.name;
          this.tasks[index].date = this.taskEdit.date;
          this.tasks[index].statusTask = this.taskEdit.statusTask;
          this.tasks[index].ownerId = this.taskEdit.ownerId;

          this.taskEdit = {};

          this.mensaje.texto = "Citize updated";
          this.mensaje.color = "success";
          this.showAlert();
        })
        .catch((e) => {
          console.log(e);
        });
      this.add = true;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>
