<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <template>
      <div class="container">
        <h1>Task</h1>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">TaskName</th>
              <th scope="col">Date</th>
              <th scope="col">StatusTask</th>
              <th scope="col">Owner</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in tasks" :key="index">
              <th scope="row">{{ item.taskId }}</th>
              <td>{{ item.name }}</td>
              <td>{{ item.date }}</td>
              <td>{{ item.statusTask }}</td>
              <td>{{ item.ownerId }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </template>
  </div>
</template>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      tasks: [],
    };
  },
  created() {
    this.getTask();
  },
  methods: {
    getTask() {
      this.axios
        .get("/Task")
        .then((res) => {
          this.tasks = res.data;
        })
        .catch((e) => {
          console.log(e.response);
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
